p{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.centro{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.experiencia{
    display: grid;
    grid-column: 1fr 2fr;
    grid-row: 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.linha1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.linha2{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.linha3{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.linha4{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.educaçao{
    display: grid;
    grid-column: 1fr 2fr;
    grid-row: 50px 100px;
    gap: 20px;
    justify-items: center;
}

.um{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.dois{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.tres{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.quatro{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
